@font-face {
  font-display: swap;
  font-family: JetBrains Mono;
  font-style: normal;
  font-weight: 600;
  src: url(https://pyrrha.gay/sirexa/legal/JetBrainsMono-SemiBold.woff2) format("woff2");
}
* {
  margin: 0;
  padding: 0;
}

body, html {
  width: 100%;
  height: 100%;
  background-color: #000;
  font-family: "Jetbrains Mono", monospace;
  font-weight: 600;
}

.wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.glitch {
  position: relative;
  color: white;
  font-size: 3em;
  letter-spacing: 0.05em;
  animation: glitch-skew 1s infinite linear alternate-reverse;
}
.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  clip: rect(44px, 450px, 56px, 0);
  animation: glitch-anim 5s infinite linear alternate-reverse;
}
.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

@keyframes glitch-anim {
  0% {
    clip: rect(78px, 9999px, 95px, 0);
    transform: skew(0.9deg);
  }
  5% {
    clip: rect(4px, 9999px, 84px, 0);
    transform: skew(0.84deg);
  }
  10% {
    clip: rect(72px, 9999px, 45px, 0);
    transform: skew(0.87deg);
  }
  15% {
    clip: rect(92px, 9999px, 47px, 0);
    transform: skew(0.26deg);
  }
  20% {
    clip: rect(4px, 9999px, 97px, 0);
    transform: skew(0.99deg);
  }
  25% {
    clip: rect(3px, 9999px, 77px, 0);
    transform: skew(0.16deg);
  }
  30% {
    clip: rect(48px, 9999px, 37px, 0);
    transform: skew(0.6deg);
  }
  35% {
    clip: rect(14px, 9999px, 41px, 0);
    transform: skew(0.81deg);
  }
  40% {
    clip: rect(91px, 9999px, 1px, 0);
    transform: skew(0.18deg);
  }
  45% {
    clip: rect(90px, 9999px, 6px, 0);
    transform: skew(0.21deg);
  }
  50% {
    clip: rect(79px, 9999px, 37px, 0);
    transform: skew(0.32deg);
  }
  55% {
    clip: rect(50px, 9999px, 90px, 0);
    transform: skew(0.01deg);
  }
  60% {
    clip: rect(18px, 9999px, 14px, 0);
    transform: skew(0.16deg);
  }
  65% {
    clip: rect(69px, 9999px, 89px, 0);
    transform: skew(0.54deg);
  }
  70% {
    clip: rect(94px, 9999px, 45px, 0);
    transform: skew(0.13deg);
  }
  75% {
    clip: rect(68px, 9999px, 35px, 0);
    transform: skew(0.36deg);
  }
  80% {
    clip: rect(10px, 9999px, 37px, 0);
    transform: skew(0.14deg);
  }
  85% {
    clip: rect(56px, 9999px, 83px, 0);
    transform: skew(0.56deg);
  }
  90% {
    clip: rect(53px, 9999px, 11px, 0);
    transform: skew(0.48deg);
  }
  95% {
    clip: rect(94px, 9999px, 36px, 0);
    transform: skew(0.83deg);
  }
  100% {
    clip: rect(15px, 9999px, 4px, 0);
    transform: skew(0.96deg);
  }
}
@keyframes glitch-anim2 {
  0% {
    clip: rect(20px, 9999px, 41px, 0);
    transform: skew(0.54deg);
  }
  5% {
    clip: rect(85px, 9999px, 4px, 0);
    transform: skew(0.06deg);
  }
  10% {
    clip: rect(65px, 9999px, 25px, 0);
    transform: skew(0.56deg);
  }
  15% {
    clip: rect(4px, 9999px, 11px, 0);
    transform: skew(0.44deg);
  }
  20% {
    clip: rect(1px, 9999px, 3px, 0);
    transform: skew(0.76deg);
  }
  25% {
    clip: rect(21px, 9999px, 56px, 0);
    transform: skew(0.17deg);
  }
  30% {
    clip: rect(18px, 9999px, 29px, 0);
    transform: skew(0.89deg);
  }
  35% {
    clip: rect(62px, 9999px, 26px, 0);
    transform: skew(0.27deg);
  }
  40% {
    clip: rect(43px, 9999px, 4px, 0);
    transform: skew(0.71deg);
  }
  45% {
    clip: rect(29px, 9999px, 20px, 0);
    transform: skew(1deg);
  }
  50% {
    clip: rect(28px, 9999px, 90px, 0);
    transform: skew(0.11deg);
  }
  55% {
    clip: rect(38px, 9999px, 33px, 0);
    transform: skew(0.37deg);
  }
  60% {
    clip: rect(2px, 9999px, 78px, 0);
    transform: skew(0.33deg);
  }
  65% {
    clip: rect(31px, 9999px, 99px, 0);
    transform: skew(0.26deg);
  }
  70% {
    clip: rect(100px, 9999px, 59px, 0);
    transform: skew(0.81deg);
  }
  75% {
    clip: rect(48px, 9999px, 4px, 0);
    transform: skew(0.68deg);
  }
  80% {
    clip: rect(37px, 9999px, 100px, 0);
    transform: skew(0.81deg);
  }
  85% {
    clip: rect(94px, 9999px, 98px, 0);
    transform: skew(0.27deg);
  }
  90% {
    clip: rect(60px, 9999px, 60px, 0);
    transform: skew(0.18deg);
  }
  95% {
    clip: rect(48px, 9999px, 52px, 0);
    transform: skew(0.08deg);
  }
  100% {
    clip: rect(9px, 9999px, 92px, 0);
    transform: skew(0.5deg);
  }
}
@keyframes glitch-skew {
  0% {
    transform: skew(-3deg);
  }
  10% {
    transform: skew(1deg);
  }
  20% {
    transform: skew(5deg);
  }
  30% {
    transform: skew(2deg);
  }
  40% {
    transform: skew(3deg);
  }
  50% {
    transform: skew(0deg);
  }
  60% {
    transform: skew(0deg);
  }
  70% {
    transform: skew(-1deg);
  }
  80% {
    transform: skew(-3deg);
  }
  90% {
    transform: skew(-2deg);
  }
  100% {
    transform: skew(5deg);
  }
}

/*# sourceMappingURL=index.css.map */
